.card {
    height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #b3b3b3;
    }
    
    .social_icon span:hover {
    color: white;
    cursor: pointer;
    }
    
    .social_icon a {
      color: inherit !important;
    text-decoration: none !important;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    