.login_wrapper {
  & button {
    margin: 1rem auto;
    display: block;
    color: #fff;
  }
}

.remote_wrapper {
    background: $main_bg_color;
    height: calc(100% - #{$desktop_player_height});

    & .browser-header-text {
        font-size: 1.75rem;
        font-weight: 500;
    }
}

.remote-controls {
    height: $desktop_player_height;
    background: $desktop_player_bg;
    overflow: hidden;
    z-index: 99;

    & button {
        background: transparent;
        border: none;
        color: $icon-color-primary;

        &:hover {
            color: $icon-color-primary-hover; 
        }
    }
  }

.browser {
    height: 100%;
    overflow-y: auto;
}

  .previous-button {

  }

  .play-pause-button {

  }

  .next-border {

  }

  .previous-border {

  }

  .next-button {

  }

  .center {

  }

  .login-overlay {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: $main_bg_color;
    z-index: 999;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0
  }