.shared_content {
    

    &::after {
    content: "";
    background-image: url("/public/img/mstream-logo.svg");
    background-repeat: no-repeat;
    transform: rotate(10deg);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    max-width: 1500px;
    }

    & .song-button-box {
        width: 15rem;
        & .mdi-plus,
        & .mdi-star,
        & .mdi-chevron-left {
            display: none;
        }
    }
}