@charset "UTF-8";
body,
html {
  height: 100%;
  background-color: #121212; }

body {
  overflow: hidden;
  color: #b3b3b3; }

img {
  display: block; }

*:focus {
  outline: none !important; }

.responsive_img {
  max-width: 100%;
  max-height: 100%; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-LightItalic.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-BoldItalic.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-Light.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-MediumItalic.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-Italic.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/public/fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("/public/fonts/ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/* TODO: Add Loading animations (Spinner) */
/* TODO: Rewrite in sass für better theming */
.clear {
  clear: both; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.fullHeight {
  height: 100%;
  overflow: scroll; }

.flatline {
  height: 1px;
  width: 100%;
  background: #b4b4b4;
  display: none; }

.current {
  background-color: #e6ebfa !important; }

.scroll {
  /*overflow-y: scroll;*/
  overflow-y: auto; }

.scrollBoxHeight1 {
  height: calc(100% - 60px); }

@media (min-width: 644px) {
  .scrollBoxHeight1 {
    height: calc(100% - 100px); } }

@media (max-device-width: 643px) {
  .scrollBoxHeight1 {
    height: calc(100% - 60px); } }

.scrollBoxHeight2 {
  height: calc(100% - 55px); }

.scrollBoxHeight3 {
  height: 100%; }

.album-art-left-container {
  display: none; }

@media (min-width: 644px) {
  .album-art-left-container {
    display: none; } }

@media (max-device-width: 643px) {
  .album-art-left-container {
    display: block; } }

.playerControls {
  height: 90px; }

.albumArt {
  width: 90px;
  background-color: blue;
  height: inherit; }

#panel1,
#panel2 {
  height: calc(100vh - 8rem); }

.ohidden {
  overflow: hidden; }

.button {
  margin-left: 10px;
  border-radius: 100px;
  font-weight: 400 !important; }

.button.secondary {
  -webkit-box-shadow: 0 2px #dadada;
  -moz-box-shadow: 0 2px #dadada;
  box-shadow: 0 2px #dadada; }

.inner-wrap,
.off-canvas-wrap {
  height: 100%; }

/*
  .filez,
  .dirz,
  .fileplaylistz,
  .back,
  .artistz,
  .albumz,
  .playlist_row_container,
  .playlist-item,
  #playlist_container ul li {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 10pt;
    font-weight: 400;
    border-image: linear-gradient(to right, #2f2f2f, rgba(34, 34, 34, 0)) 1;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }*/
.dirz {
  color: #b3b3b3; }

.filez:hover,
.back:hover,
.artistz:hover,
.playlistz:hover,
.playlist-item:hover #playlist_container ul li:hover,
.playlist-item:hover {
  background-color: #181818; }

.dirz {
  position: relative;
  overflow: visible; }

.left {
  float: left; }

.audio-book-bar {
  float: right;
  display: flex;
  height: 100%; }

.nav-right-icon {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-right: 0px;
  margin-left: 0px;
  display: inline-flex; }

.bar-container {
  width: 90px; }

.relative {
  position: relative; }

.playlist_row_container {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  padding: 0 !important; }

#playlist_container ul,
.playlist-item {
  margin: 0;
  position: relative; }

#playlist_container ul li,
.playlist-item {
  list-style-type: none;
  overflow: visible; }

.playlist-item::after {
  content: "";
  display: block;
  clear: both; }

/*.dirz:hover,*/
.albumz:hover,
.artistz:hover,
.playlistz:hover,
.fileplaylistz:hover {
  background-color: #181818 !important; }

.back:hover {
  background-color: #181818 !important; }

.add_all {
  clear: both;
  padding: 10px 0 0;
  width: 300px;
  text-transform: uppercase;
  font-weight: 500; }

.add_all:hover {
  color: #73b9ff; }

#search_folders {
  margin-top: 3px;
  width: calc(100% - 99px); }

#downform {
  display: none;
  position: absolute; }

.controls div {
  cursor: pointer; }

.main-section {
  padding-bottom: 118px;
  position: relative;
  z-index: 1;
  height: 100%; }

.playlistColumn li,
.playlist-item {
  padding: 0 !important; }

.controls {
  float: right;
  padding-top: 3px; }

.controls a {
  width: 20px;
  margin: 0px 5px;
  text-align: center;
  float: left;
  opacity: 0.5; }

.controls a:hover {
  opacity: 1; }

.rightControls {
  padding-top: 12px;
  margin-bottom: 8px; }

.directoryTitle {
  background-color: transparent;
  display: block;
  overflow: hidden;
  padding: 7px 0; }

.searchList h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  border-bottom: solid 1px #d0d0d0; }

.searchList ul {
  margin: 0; }

.searchList li {
  font-size: 14px;
  padding: 10px 10px;
  list-style-type: none; }

.searchList li:hover {
  background: #313131;
  color: #f9f9f9;
  cursor: pointer; }

.main-overlay {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 91px);
  background: black;
  z-index: 99999; }

.login-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999; }
  .login-overlay label {
    font-size: 16px !important;
    font-weight: normal; }

.super-hide {
  display: none !important; }

.login-icon {
  max-height: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: block;
  margin: auto; }

.mstream-player {
  /*position: fixed;
    bottom: 0;*/ }

.share-textarea,
#fed-textarea,
#federation-invitation-code {
  height: 8em;
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #535353 !important;
  font-weight: normal !important; }

#federation-invite-time {
  width: 4em;
  float: left;
  background: #000 !important;
  color: #fff !important;
  border-color: #f60 !important; }

.share-time-post {
  width: 4em; }

.metadata-panel-text {
  margin-bottom: 10px;
  margin-top: 0px;
  /*text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;*/
  color: white;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  line-height: 100%; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }

.autoselect {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }

#meta-box-wrapper {
  width: 100%;
  position: absolute;
  transition: all 1s ease;
  height: 180px;
  /*160px meta-box + 20px meta-box-grip*/ }

#meta-box-grip {
  height: 20px;
  z-index: 9;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
  position: relative; }

.meta-box {
  width: 100%;
  height: 160px;
  background: linear-gradient(to bottom right, #222, #000);
  position: relative;
  -webkit-box-shadow: 0px 0px 30px 20px #000;
  -moz-box-shadow: 0px 0px 30px 20px #000;
  box-shadow: 0px 0px 30px 20px #000;
  z-index: -1; }

.meta-box-down {
  bottom: -160px; }

.meta-box-up {
  bottom: 0px; }

.meta-album-art {
  height: 100%;
  width: 150px;
  float: left; }

.meta-spacer {
  width: 5px;
  float: left;
  height: 5px; }

.meta-info {
  /*height: 100%;*/
  width: calc(100% - 155px);
  float: left; }

.folder-image {
  height: 20px;
  margin-right: 5px;
  filter: grayscale(100%) brightness(100%); }

.music-image {
  height: 18px;
  margin-right: 5px;
  filter: grayscale(100%); }

.item-text {
  vertical-align: middle; }

.hover-fill {
  opacity: 0.6; }

.hover-fill:hover {
  opacity: 1; }

.explorer-label-1 {
  font-style: normal;
  font-size: 17px;
  line-height: 100%; }

.jq-stars {
  display: inline-block; }

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top; }

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer; }

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100%; }

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round; }

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow(-2px -2px 2px #888);
  filter: drop-shadow(-2px -2px 2px #888); }

#pop {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 3px;
  border: 1.5px solid #ccc; }

#viz-canvas {
  width: 100%;
  height: 100%; }

[v-cloak] {
  display: none; }

.upload-progress-bar {
  background-color: #b4b4b4;
  height: 1px; }

.upload-progress-inner {
  background-color: skyblue;
  box-shadow: 0px 0px 4px 2px rgba(135, 206, 235, 0.91);
  height: 100%;
  position: relative;
  z-index: 1000; }

.responsive-left-nav {
  width: 0px;
  height: 0px;
  padding-top: 17px;
  animation: animateleft 0.4s;
  display: block;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }

.left-nav-menu-header {
  color: #000;
  padding: 14px 0px 6px 9px;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: center; }

.nav-logo {
  cursor: pointer; }

@media (max-width: 643px) {
  .responsive-left-nav {
    display: block;
    width: 200px;
    height: calc(100% + 75px);
    position: fixed;
    z-index: 99999999999; }
  .nav-logo {
    display: none; }
  .hide-on-small {
    display: none; }
  .tab-bar-section {
    margin: 0;
    padding: 0 !important; } }

@media (min-width: 644px) {
  .responsive-left-nav {
    width: 200px;
    height: calc(100% + 75px);
    float: left; }
  .player-body {
    width: calc(100% - 200px);
    float: right; }
  .hamburger-button {
    display: none; } }

ul.left-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }

ul.left-nav-menu li {
  padding: 0.3rem 0.9375rem;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
  border-image: linear-gradient(to right, #fff0, #424242 50%, rgba(34, 34, 34, 0)) 1;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0; }

ul.left-nav-menu li:last-child {
  border-bottom: 1px solid #5e5e5e; }

ul.left-nav-menu li:hover {
  color: #ddd; }

ul.left-nav-menu li.selected {
  font-weight: 500;
  color: #eee;
  background: #5a5a6a;
  font-weight: 500;
  color: #1a1a1a;
  background: #f60; }

ul.left-nav-menu li.selected::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #1a1a1a;
  display: inline-block;
  position: relative; }

.left-nav-menu svg {
  fill: #000 !important; }

ul.left-nav-menu li.selected svg {
  fill: #fff; }

.db-status-bar {
  padding-top: 25px;
  min-height: 110px; }

.mobile-links {
  display: flex;
  justify-content: space-between; }

.mobile-placeholder {
  width: 100%; }

.app-text {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center; }

.loading-screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px; }

.recently-added-input {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 75px;
  height: 19px !important;
  text-align: center;
  background: transparent !important;
  color: #fff !important; }

.super-hide {
  display: none !important; }

#federation-invite-checkbox-area {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }

.federation-invite-thing {
  width: calc(100% - 70px);
  display: inline-block; }

#federation-invite-selection-panel {
  overflow-y: scroll;
  max-height: 300px; }

input[name="autodj-folders"] {
  cursor: pointer; }

#autodj-ratings {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-left: 10px;
  max-width: calc(100% - 20px);
  background: transparent;
  color: #fff;
  border: 1px solid #4f4f4f;
  border-left: none;
  border-right: none; }

#autodj-ratings option {
  color: #000; }

#autodj-ratings::-ms-expand {
  display: none; }

#filelist > div:nth-child(odd) > .dirz,
#search-results > div:nth-child(odd),
#filelist > div:nth-child(odd) > .dirz + .song-button-box {
  background: transparent; }

#filelist > div:nth-child(even) > .dirz,
#search-results > div:nth-child(even),
#filelist > div:nth-child(even) > .dirz + .song-button-box {
  background: transparent; }

#search-results > div:hover,
#filelist .dirz:hover,
#filelist .dirz:hover,
#filelist .dirz:hover + .song-button-box {
  background: #181818 !important; }

#filelist .clear:last-of-type ~ .filez:first-of-type {
  background: #fff; }

.get_rated_songs > svg,
.transcode-panel > svg {
  filter: grayscale(100%) brightness(0%); }

#filelist input[type="checkbox"] {
  display: none; }

.jukebox-panel {
  text-align: center; }

.jukebox-panel h1 {
  color: #fff;
  font-weight: 500; }

.jukebox-panel h2 {
  color: #fff;
  font-weight: 300; }

.jukebox-panel h4 {
  color: #fff;
  font-weight: 200; }

.jukebox-panel h4 > a {
  color: #f60 !important; }

.jukebox_connect {
  background: #f60 !important;
  border: none !important;
  border-radius: 5px !important;
  margin: 0 auto !important;
  display: block !important;
  width: 70% !important;
  font-weight: bold !important;
  font-size: 20px !important; }

.jukebox-panel + h3 {
  text-align: center; }

#clear > svg {
  filter: brightness(9999.9%) grayscale(100%); }

.login-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999; }

.login-overlay label {
  font-size: 16px !important;
  font-weight: normal; }

#login-form .form-group input {
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 0px 5px 0px #000;
  font-weight: 300; }

#login-form .form-group input:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 5px 0px #000 !important; }

#login-submit {
  background: rgba(255, 255, 255, 0.17);
  width: 50%;
  border: none;
  font-size: 20px;
  height: 50px;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  transition: background 200ms ease; }

.scan-status {
  text-align: center;
  font-size: 0.9rem; }

.scan-status-files {
  text-align: center;
  font-size: 0.9rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important; }

body, html {
  background: #121212;
  height: 100%;
  font-family: 'Ubuntu', sans-serif; }

.container {
  height: 100%;
  align-content: center; }

.card {
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.5) !important; }

#login_overlay .st0, #login_overlay .st1 {
  fill: #fff; }

#login_overlay .st2 {
  fill: #b3b3b3; }

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #b3b3b3; }

.social_icon span:hover {
  color: white;
  cursor: pointer; }

.social_icon a {
  color: inherit !important;
  text-decoration: none !important; }

.card-header h3 {
  color: white; }

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px; }

.input-group-prepend span {
  width: 50px;
  background-color: #b3b3b3;
  color: black;
  border: 0 !important; }

input:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important; }

.remember {
  color: white; }

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px; }

.login_btn {
  color: black !important;
  background-color: #FFC312 !important;
  width: 100px !important;
  margin: 0 auto !important;
  display: block !important; }

.login_btn:hover {
  color: black;
  background-color: white; }

.links {
  color: white; }

.links a {
  margin-left: 4px; }

#main_content {
  background: #121212; }

.dir_icon,
.file_icon {
  font-size: 2rem !important;
  background: #282828;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 3px; }

.rating_icon {
  background: #282828;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 3px;
  line-height: 3rem; }

.overlay_icon {
  font-size: 2rem !important;
  text-align: center; }

.navbar {
  background: #282828; }

.navbar_icon {
  font-size: 1.5rem !important;
  line-height: 20px; }

.icon_normal {
  font-size: 2rem !important; }

.hide {
  display: none; }

.mobileHeading1 {
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #fff; }

.spinner_big {
  width: 10rem !important;
  height: 10rem !important; }

.filelist_wrapper {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  /*overflow-y: auto;*/
  min-height: 0px; }

.col_track_title {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap; }

.col_track_artist {
  font-size: 0.8rem;
  white-space: nowrap; }

.slides_system_nav,
.slides_lib_nav {
  font-size: 1.2rem;
  color: #b3b3b3; }
  .slides_system_nav .slick-track,
  .slides_lib_nav .slick-track {
    transform: translate3d(0px, 0px, 0px) !important; }
  .slides_system_nav .slick-current,
  .slides_lib_nav .slick-current {
    color: #fff; }
    .slides_system_nav .slick-current:after,
    .slides_lib_nav .slick-current:after {
      content: "";
      float: left;
      background: #fff;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      margin-top: -3px; }
  .slides_system_nav .slick-slide,
  .slides_lib_nav .slick-slide {
    width: auto !important; }
    .slides_system_nav .slick-slide > div,
    .slides_lib_nav .slick-slide > div {
      padding: 0 1rem; }

.heading {
  display: block;
  font-size: 1.1rem;
  font-weight: bold; }

.sub_heading {
  display: block;
  font-size: 0.8rem; }

.input_checkbox {
  display: none; }
  .input_checkbox + label {
    background: #262626;
    padding: 0.5rem 2rem;
    border-radius: 2rem; }
  .input_checkbox:checked + label {
    background: #3a3938; }

.simplebar-track.simplebar-vertical {
  width: 5px; }

.simplebar-scrollbar {
  background: #fff; }

#fillContent {
  width: 100%;
  overflow-x: hidden; }

.file_wrapper .song-button-box {
  font-size: 2rem;
  margin: 0;
  width: 12rem;
  overflow: hidden;
  background: #121212;
  position: absolute;
  right: -9rem;
  top: 0;
  transition: right .3s ease; }

.file_wrapper .song-button-box.sbb_unfold {
  right: 0; }

.navbar {
  height: 4rem;
  z-index: 999; }
  .navbar .navbar_item {
    vertical-align: top;
    display: inline-block;
    text-align: center; }
    .navbar .navbar_item .navbar_text {
      display: block;
      font-size: 0.7rem; }

/* Override Bootstrap */
.modal-content {
  background: #333 !important;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  height: 20rem;
  transition: all .3s ease; }
  .modal-content .modal-header {
    background: #222;
    border: none; }
    .modal-content .modal-header .close {
      color: #b3b3b3;
      text-shadow: none;
      opacity: 1; }
      .modal-content .modal-header .close:hover {
        color: #fff;
        opacity: 1; }
  .modal-content .modal-footer {
    border-top: 1px solid #464646; }

.modal-dialog {
  height: 20rem;
  perspective: 50rem;
  -moz-perspective: 50rem; }
  .modal-dialog .modal-body .input-group-text {
    width: 4rem;
    font-weight: bold;
    font-size: 0.9rem; }

.modal--back {
  transform: rotateY(180deg); }
  .modal--back .modal-header span {
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 700; }
  .modal--back .modal-body span {
    font-size: 1.5rem;
    display: block;
    text-align: center; }

.form__input-text {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  /* border to prevent move on focus */
  width: 100%;
  display: block; }
  .form__input-text:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #24b811; }
    .form__input-text:focus:invalid {
      border-bottom: 3px solid #b81111; }
  .form__input-text::-moz-placeholder, .form__input-text::-webkit-input-placeholder {
    color: #fff; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input-text:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700; }
  .form__btn__icon {
    padding-left: 1rem; }

.clusterize-scroll {
  max-height: calc(100vh - 13rem) !important; }

.player_bar_wrapper {
  grid-area: now-playing-bar;
  background-color: #282828;
  width: 100%;
  height: 4rem;
  z-index: 99;
  color: #b3b3b3;
  position: relative;
  border-bottom: 1px solid #1a1a1a; }
  .player_bar_wrapper .progress {
    height: 2px;
    border-radius: 0;
    background: #282828;
    z-index: 99;
    position: relative; }
    .player_bar_wrapper .progress .progress-bar {
      background: #fff; }
  .player_bar_wrapper .playbar {
    margin-top: -2px; }
  .player_bar_wrapper .track_info {
    max-width: calc(100% - 5rem);
    visibility: hidden; }
    .player_bar_wrapper .track_info.slick-initialized {
      visibility: visible; }
    .player_bar_wrapper .track_info .player_album_icon {
      font-size: 3rem;
      line-height: 4rem; }
    .player_bar_wrapper .track_info .track_cover {
      height: 4rem; }
    .player_bar_wrapper .track_info .track_text {
      text-overflow: ellipsis;
      font-size: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .player_bar_wrapper .track_info .track_text .track_text_title {
        font-size: 0.9rem;
        font-weight: bold; }
      .player_bar_wrapper .track_info .track_text .track_text_artist {
        font-size: 0.8rem; }
      .player_bar_wrapper .track_info .track_text .nextPrev_text {
        font-size: 1rem;
        padding-left: 1rem;
        line-height: 4rem; }
  .player_bar_wrapper .player_controls {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem; }
    .player_bar_wrapper .player_controls .control_button {
      font-size: 2rem;
      line-height: 4rem; }

@media (max-height: 470px) {
  .player_overlay_wrapper .album_art .album_art_container .placeholder_icon {
    line-height: 12rem !important; } }

@media (min-width: 1130px) {
  .player_overlay_wrapper .album_art .album_art_container .placeholder_icon {
    font-size: 21rem !important; } }

.player_overlay_wrapper {
  background: #1f1f1f;
  background: linear-gradient(0deg, #1f1f1f 0%, #363636 100%); }
  .player_overlay_wrapper .player-overlay-header {
    height: 3rem;
    line-height: 3rem;
    text-align: center; }
  .player_overlay_wrapper .album_art {
    height: 50%; }
    .player_overlay_wrapper .album_art .album_art_container {
      padding-left: 4rem;
      padding-right: 4rem;
      height: 100%;
      overflow: hidden; }
      .player_overlay_wrapper .album_art .album_art_container .placeholder_icon {
        font-size: 30vw;
        line-height: 17rem; }
      .player_overlay_wrapper .album_art .album_art_container .album_art_img {
        margin: 0 auto; }
  .player_overlay_wrapper .overlay_track_info .track_text {
    text-align: left; }
    .player_overlay_wrapper .overlay_track_info .track_text .track_text_title {
      font-size: 1rem;
      font-weight: bold; }
    .player_overlay_wrapper .overlay_track_info .track_text .track_text_artist {
      font-size: 0.8rem; }
  .player_overlay_wrapper .overlay_player_controls .overlay_icon_main {
    font-size: 3rem; }
  .player_overlay_wrapper .overlay_player_controls .overlay_icon_sec {
    font-size: 2rem; }
  .player_overlay_wrapper .overlay_replay_bar .overlay_replay_time {
    font-size: 0.8rem; }
  .player_overlay_wrapper .overlay_sub_controls .overlay_icon_sub {
    font-size: 1.8rem; }

.overlay_star_rating {
  width: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 1px;
  left: 3.2rem;
  transition: width .5s ease; }
  .overlay_star_rating.overlay_star_expanded {
    width: 10rem; }

.overlay_rating_number {
  font-size: 0.8rem;
  position: absolute;
  top: -0.8rem;
  text-align: center;
  width: 1.8rem; }

.my-rating {
  transition: width .5s ease; }
  .my-rating.mdi-star-off {
    width: 12rem; }

/* General noUISlider */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-handle {
  background: #b3b3b3;
  cursor: default;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

/* Progressbar */
.progress_bar_wrapper {
  height: 16px;
  width: 100%;
  position: relative; }
  .progress_bar_wrapper:hover .noUi-handle {
    opacity: 1 !important; }
  .progress_bar_wrapper #progress_bar {
    height: 4px !important;
    width: 100%;
    border-radius: 4px;
    background: #535353;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .progress_bar_wrapper #progress_bar .noUi-base,
    .progress_bar_wrapper #progress_bar .noUi-connects {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1; }
    .progress_bar_wrapper #progress_bar .noUi-connects {
      overflow: hidden;
      z-index: 0;
      border-radius: 3px; }
    .progress_bar_wrapper #progress_bar .noUi-connect {
      background: #b3b3b3;
      height: 100%;
      width: 100%;
      border-radius: 4px; }
    .progress_bar_wrapper #progress_bar .noUi-handle {
      width: 1em;
      height: 1em;
      right: -8px;
      top: -7px;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3 ease; }

.disabled_icon {
  color: transparent !important;
  text-shadow: 0px 0px 2px #4a4a4a; }

.icon_animation1 {
  animation: glow 1s infinite alternate;
  color: #fff; }

@keyframes glow {
  to {
    text-shadow: 0 0 10px #8d8d8d; } }

#vert_resize {
  min-height: 4rem;
  height: 4rem;
  overflow: hidden; }

.playlist_wrapper {
  background: #121212;
  height: calc(100% - 4rem); }
  .playlist_wrapper .song-button-box {
    margin: 0;
    width: 15rem;
    overflow: hidden;
    background: #121212;
    position: absolute;
    right: -12rem;
    transition: right .3s ease; }
  .playlist_wrapper .song-button-box.sbb_unfold {
    right: 0; }
  .playlist_wrapper .playing {
    background: #282828; }
    .playlist_wrapper .playing .song-button-box {
      background: #282828; }

.iconBtn {
  background: transparent;
  color: #b3b3b3;
  border: none; }
  .iconBtn:hover {
    color: #fff; }

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 1.25rem;
  padding: 3px;
  border-radius: 1rem;
  cursor: pointer; }

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 0.7rem;
  text-transform: uppercase;
  background: #2d2d2d;
  border-radius: inherit;
  transition: all 0.3s ease; }
  .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1; }
  .switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5); }
  .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0; }
  .switch-input:checked ~ .switch-label {
    background: #606060;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2); }
    .switch-input:checked ~ .switch-label:before {
      opacity: 0; }
    .switch-input:checked ~ .switch-label:after {
      opacity: 1; }

.switch-handle {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; }
  .switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02); }
  .switch-input:checked ~ .switch-handle {
    left: 2.7rem;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); }

.shared_content::after {
  content: "";
  background-image: url("/public/img/mstream-logo.svg");
  background-repeat: no-repeat;
  transform: rotate(10deg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  max-width: 1500px; }

.shared_content .song-button-box {
  width: 15rem; }
  .shared_content .song-button-box .mdi-plus,
  .shared_content .song-button-box .mdi-star,
  .shared_content .song-button-box .mdi-chevron-left {
    display: none; }

.search_page_wrapper #db-search {
  width: 100%;
  position: relative; }

.search_page_wrapper #search-term {
  border-radius: 5px 0 0 5px;
  background: #282828;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  padding: 0.2rem 1rem; }

.search_page_wrapper .searchButton {
  color: #b3b3b3;
  border: none; }

.search_page_wrapper .search_checkboxes {
  font-size: 0.8rem; }
  .search_page_wrapper .search_checkboxes label {
    margin: 0;
    background: #282828;
    padding: 0.2rem 1rem; }
  .search_page_wrapper .search_checkboxes input[type="checkbox"] {
    display: none; }
  .search_page_wrapper .search_checkboxes input[type="checkbox"]:checked + label {
    color: #fff;
    background: #535353; }

.browser-container {
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden; }

.login_wrapper button {
  margin: 1rem auto;
  display: block;
  color: #fff; }

.jukebox_remote_wrapper .login-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  z-index: 9; }

.remote_controls {
  height: 4rem;
  background: #282828;
  line-height: 4rem;
  overflow: hidden;
  z-index: 99; }
  .remote_controls button {
    background: transparent;
    border: none;
    color: #b3b3b3; }
    .remote_controls button:hover {
      color: #fff; }
  .remote_controls .remote_player_mainIcon {
    font-size: 3rem; }
  .remote_controls .remote_player_subIcon {
    font-size: 2rem; }
  .remote_controls .remote_player_subIcon2 {
    font-size: 1.5rem; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }
