$main_bg_color: #121212;

$color-primary: #121212;
$color-secondary: #292929;

$mstream-logo-primary: #fff;
$mstream-logo-secondary: #b3b3b3;

$font-color-primary: #b3b3b3;
$font-color-primary-hover: #fff;
$font-color-primary-active: #fff;

$icon-color-primary: #b3b3b3;
$icon-color-primary-hover: #fff;

$nav-sidebar-bg: rgba(0, 0, 0, .8);

$audio-slider-bg1: #535353;
$audio-slider-bg2: #b3b3b3;
$audio-slider-handle-bg: #b3b3b3;

$mobile_nav_bg: #282828;

$nowPlaying_active_bg: #282828;

$button-bg1: #292929;
$desktop_resize_handle_bg: #292929;
$desktop_file_hover_bg: #181818;

$desktop_player_bg: #282828;
$desktop_player_button: #b3b3b3;
$desktop_player_button_hover: #fff;
$desktop_player_height: 5rem;

$desktop_metabox_bg: #282828;
$desktop_metabox_button_bg: #282828;

$scrollbar_handle: #fff;

$mobilePlayer_bar_bg: #282828;
$mobilePlayer_bar_primary: #b3b3b3;
$mobilePlayer_bar_height: 4rem;

$mobilePlayer_bar_progress_color: #fff;
$mobilePlayer_bar_progress_height: 2px;

$mobilePlayer_bar_divider1: #1a1a1a;